@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800;900&display=swap');

.certificate {
	width: 80%;
	font-weight: 900;
	font-size: 60px;
	font-family: 'poppins', 'sans-serif';
	margin-bottom: 2.5rem;
}

.title {
	text-transform: uppercase;
	font-size: 18px;
	color: #aaa6c3;
	letter-spacing: 0.05em;
}



.accordion {
	overflow: hidden;
}

.accordion-item {
	font-size: 1.9rem;
	font-family: 'poppins', 'san-serif';
	line-height: 5rem;
	font-weight: 700;
	padding-left: 10px;
}



.accordion-item button {
	background-color: #050816;
	color: white;
	cursor: pointer;
	padding: 20px;
	line-height: 2rem;
	height: 6rem;
	width: 100%;
	text-align: left;
}

.accordion-content {
	padding: 10px;
	outline: none;
	font-size: 1.4rem;
}

.certificate-card {
	height: 400px;
	background-color: #151030;
	width: auto;
	display: inline-block;
	margin-left: 4rem;
	align-items: center;
	justify-content: center;
	margin-bottom: 4rem;
	border-radius: 5px;
	box-shadow: rgba(134, 132, 132, 0.425) 0px 5px 15px;
}

.image {
	height: 70%;
	width: auto;
	display: inline-block;
	margin-left: 2rem;
	margin-right: 2rem;
	margin-top: 2rem;
}

.certificate-title {
	font-size: 1.3rem;
	width: 100%;
	text-transform: capitalize;
	margin-top: 1.5rem;
	text-align: center;
	line-height: 1.2;
	padding-left: 10px;
	padding-right: 10px;
}












@media (max-width:480px) {
	.accordion {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.accordion-item {
		display: flex;
		flex-direction: column;
		font-size: 1.2rem;
		width: 100%;
	}

	.certificate-card {
		display: inline-block;
		align-items: center;
		justify-content: center;
		height: max-content;
		width: 40%;
	}

	.image {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-right: 1rem;
		margin-bottom: 0;
		height: 40%;
		width: 90%;
	}

	.certificate-title {
		text-align: center;
		display: flex;
		align-items: center;
		margin-top: 0;
		padding-bottom: 15px;
	}
}












@media (max-width:820px) {
	.accordion {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.accordion-item {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.certificate-card {
		display: inline-block;
		align-items: center;
		justify-content: center;
		height: max-content;
		width: 40%;
		height: min-content;
	}

	.image {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 70%;
		margin: 0%;
		margin-left: 13px;
		margin-top: 13px;
		width: 90%;
	}

	.certificate-title {
		text-align: center;
		margin-top: 0.5rem;
		font-size: 1rem;
		padding-bottom: 15px;
	}
}










@media (max-width:1200px) and (min-width:1000px) {
	.accordion {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.accordion-item {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.certificate-card {
		display: inline-block;
		align-items: center;
		justify-content: center;
		height: max-content;
		width: 40%;
		height: min-content;
	}

	.image {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 70%;
		margin: 0%;
		margin-left: 13px;
		margin-top: 13px;
		width: 90%;
	}

	.certificate-title {
		text-align: center;
		margin-top: 0.5rem;
		font-size: 1rem;
		padding-bottom: 15px;
	}
}











@media (max-width: 768px) {
	.certificate {
		font-size: 50px;
	}

	.title {
		font-size: 16px;
	}
	.certificate-title{
		font-size: 15px;
		line-height: 1.5;
	}
}

@media (maz-width: 640px) {
	.certificate {
		font-size: 40px;
	}

	.title {
		font-size: 15px;
	}
	.certificate-title{
		font-size: 12px;
		line-height: 1.4;
	}
}

@media (max-width: 480px) {
	.certificate {
		font-size: 30px;
	}

	.title {
		font-size: 14px;
	}
	.certificate-title{
		font-size: 12px;
		line-height: 1.4;
	}
}