@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800;900&display=swap');

.certificate {
	width: 80%;
	font-weight: 900;
	font-size: 60px;
	font-family: 'poppins', 'sans-serif';
	margin-bottom: 2.5rem;
}

.title {
	text-transform: uppercase;
	font-size: 18px;
	color: #aaa6c3;
	letter-spacing: 0.05em;
}



.accordion {
	overflow: hidden;
}

.accordion-item {
	font-size: 1.9rem;
	font-family: 'poppins', 'san-serif';
	line-height: 5rem;
	font-weight: 700;
	padding-left: 10px;
}



.accordion-item button {
	background-color: #050816;
	color: white;
	cursor: pointer;
	padding: 20px;
	line-height: 2rem;
	height: 6rem;
	width: 100%;
	text-align: left;
}

.accordion-content {
	padding: 10px;
	outline: none;
	font-size: 1.4rem;
}

.certificate-card {
	height: 400px;
	background-color: #151030;
	width: auto;
	display: inline-block;
	margin-left: 4rem;
	align-items: center;
	justify-content: center;
	margin-bottom: 4rem;
	border-radius: 5px;
	box-shadow: rgba(134, 132, 132, 0.425) 0px 5px 15px;
}

.image {
	height: 70%;
	width: auto;
	display: inline-block;
	margin-left: 2rem;
	margin-right: 2rem;
	margin-top: 2rem;
}

.certificate-title {
	font-size: 1.3rem;
	width: 100%;
	text-transform: capitalize;
	margin-top: 1.5rem;
	text-align: center;
	line-height: 1.2;
	padding-left: 10px;
	padding-right: 10px;
}







@media (max-width:480px){
	.certificate{
		font-size: 30px;
	}
	.title{
		font-size: 14px;
	}
	.accordion-item{
		font-size: 1.5rem;
	}
	.accordion-content{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.certificate-card{
		width: 95%;
		height: max-content;
		display: inline-block;
		margin-left: 0%;
	}
	.image{
		width: 90%;
		height: 80%;
		margin: 1rem;
	}
	.certificate-title{
		margin-top: 0;
		margin-bottom: 1rem;
		text-align: center;
		font-size: 14px;
	}
}

